{{> START_OF_FILE this}}

<!DOCTYPE HTML>
<html>

<body>

<p>Before the script...</p>

// ns__start_section contents
<script>
    alert( 'Hello, world!' );
</script>
// ns__end_section contents

<p>...After the script.</p>

</body>

</html>
